node_modules

.idea

.openzeppelin
artifacts
cache

\.env

flatten/

\.bak
\.env*

coverage/

coverage\.json

\.vscode/

*.csv
.\scripts\logs

docs/main\.js\.LICENSE\.txt
*.zip
zkmerkle_cex_20240520.tar
